* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(217, 85, 80); */
  }
  
  header,
  section {
    max-width: 530px;
    margin: auto;
    /* height: 60px; */
    background-color: #ccc;
    border: 1px solid black;
  }
  
  #mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 0 0 0; */
    /* padding: 5px; */
    height: 60px;
    background-color:aqua;
  }
  
  #mainHeader .logo .imgLogo {
    width: 20px;
  }
  
  #mainHeader .logo .logoApp {
    text-decoration: none;
    color: black;
  }
  
  #mainHeader .multi-media {
    display: flex;
    justify-content: space-around;
  }
  
  #mainHeader .multi-media .multi-item {
    margin: 0 0 0 10px;
    padding: 5px 7px 5px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none rgba(180, 188, 28, 0.2);
    border: none;
    border-radius: 4px;
    color: black;
    opacity: 0.8;
  }
  
  #mainHeader .multi-media .multi-item:hover {
    opacity: 1;
    cursor: pointer;
  }

  .clock-return-main {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(217, 85, 80);
  }
  
  .clock-return-main .timer-string {
    display: flex;
    justify-content: center;
    font-size: 50px;
  }
  
  .clock-return-main .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  